<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/_layout}">

<head>
    <meta charset="UTF-8">
    <title>Saved User Information </title>
    <link rel="stylesheet" th:href="@{/css/products.css}" type="text/css" />
</head>
<body>
<div layout:fragment="content">
    <div class="centered-item">
        <h6 class="d-block">No product. Click here to view products</h6>
        <a href="#" class="btn btn-success btn-lg" tabindex="-1" role="button" aria-disabled="true">Buy Now</a>
    </div>
</div>
</body>
</html>