<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/_layout}">

<head>
    <meta charset="UTF-8">
    <title>Saved User Information </title>
    <link rel="stylesheet" th:href="@{/css/products.css}" type="text/css" />
</head>
<body>
<div layout:fragment="content">
    <div class="container-md mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-5">
                <div class="mb-3">
                    <label for="formName" class="form-label">Name's Receiver</label>
                    <input type="text" class="form-control" id="formName" placeholder="Name">
                </div>
                <div class="mb-3">
                    <label for="formEmail" class="form-label">Email</label>
                    <input type="text" class="form-control" id="formEmail" placeholder="Email">
                </div>
                <div class="mb-3">
                    <label for="formPhone" class="form-label">Phone</label>
                    <input type="text" class="form-control" id="formPhone" placeholder="Phone">
                </div>
                <div class="mb-3">
                    <label for="formAddress" class="form-label">Address</label>
                    <input type="text" class="form-control" id="formAddress" placeholder="Address">
                </div>
                <div class="d-flex justify-content-center">
                    <a href="#" class="btn btn-secondary btn-lg mx-2" tabindex="-1" role="button" aria-disabled="true">Cancel</a>
                    <a href="#" class="btn btn-success btn-lg" tabindex="-1" role="button" aria-disabled="true">Accept</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>