<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/_layout}">

<head>
    <title>Transaction</title>
    <link rel="stylesheet" th:href="@{/css/products.css}" type="text/css" />
</head>
<body>
<div layout:fragment="content">
    <div class="container-md mt-5">
        <div class="row d-flex">
            <div class="col-4">
                <h6>Delivery Information</h6>
                <div class="input-group mb-2" style="height: 3rem;">
                    <input type="text" style="font-size:14px ;" class="form-control" placeholder="Name's Receiver:"
                           aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-2" style="height: 3rem;">
                    <input type="text" style="font-size:14px ;" class="form-control" placeholder="Email:" aria-label="Username"
                           aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-2" style="height: 3rem;">
                    <input type="text" style="font-size:14px ;" class="form-control" placeholder="Phone Number:"
                           aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-2" style="height: 3rem;">
                    <input type="text" style="font-size:14px ;" class="form-control" placeholder="Addresss:" aria-label="Username"
                           aria-describedby="basic-addon1">
                </div>
                <div class=" border-bottom mb-2 d-flex">
                    <p class="fs-6">Do you want to use saved information?</p>
                    <a  class= "text-decoration-none fs-6 ms-4" href="">Click here</a>
                </div>
            </div>
            <div class="col-4">
                <h6>Order(3 products)</h6>
                <div class=" overflow-y-scroll" style="height: 266px;">
                    <div class="d-flex">
                        <img
                             src="https://cdn0.fahasa.com/media/catalog/product/c/h/chemta-bino_bia1.jpg" class="card-img-top w-25"
                             alt="...">
                        <div>
                            <p class="book-title fs-6 fw-bold mb-2">Book Title hfa hasfah hasfhs fsahfis ajsfhsa fhasf fjasf
                            </p>
                            <p class="mb-2">Quantity: n</p>
                            <h6>Price: 129.000d</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h6>Transport</h6>
                <div class="form-check mb-2 d-flex align-items-center">
                    <input class="form-check-input mx-1" type="radio" name="transport" id="tr1">
                    <div class="d-flex justify-content-betweeen">
                        <label class="form-check-label mx-1" style="width: 10rem;" for="tr1">
                            Delivery
                        </label>
                        <p class="my-0 text-end">Ship fee</p>
                    </div>
                </div>
                <div class="mb-2" style="height: 3rem; display:flex; align-items: center;">
                    <h6 class="my-0 " style=>Pay</h6>
                </div>
                <div class="form-check mb-2 d-flex align-items-center">
                    <input class="form-check-input mx-1" type="radio" name="delivery" id="Dr1">
                    <label class="form-check-label mx-1" for="Dr1">
                        Crash on delivery (COD)
                    </label>
                </div>
                <div class="form-check mb-2 d-flex align-items-center">
                    <input class="form-check-input mx-1" type="radio" name="delivery" id="Dr2" checked>
                    <label class="form-check-label mx-1"  for="Dr2">
                        Crash on card
                    </label>
                </div>
                <div class="transport_fee mt-4 d-flex justify-content-betweeen">
                    <h6 style="width: 200px;">Transport Fee:</h6>
                    <h6 style="text-align: right; margin-bottom: 1rem; width: 210px;">nđahfs</h6>
                </div>
                <div class="product_price mb-2  border-bottom d-flex justify-content-betweeen">
                    <h6 style="width: 200px;">Product's Price:</h6>
                    <h6 style="text-align: right; margin-bottom: 2rem; width: 210px;">nđahfs</h6>
                </div>
                <div class="order-box d-flex align-items-center">
                    <h6 class="order border-bottom my-0 me-2 d-flex align-items-center" style="width: 254px; height: 3rem;">Total
                        Price:</h6>
                    <button class="btn btn-success fs-6 fw-semibold text-center"
                            style="height: 3rem; width: 150px;">Order</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>