<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/_layout}">
<head>
    <title>A Plus Book</title>
    <link rel="stylesheet" th:href="@{/css/products.css}" type="text/css" />
</head>
<body>
<div layout:fragment="content">
    <div class="container-md my-5">
        <div class="row d-flex justify-content-center mt-4 mb-2">
            <div class="col-3 ms-2 border" th:each="book: ${book}">
                        <img th:src="${book.image}"
                             class="card-img-top" alt="Image book detail">
                </div>
                    <div class=" py-4 px-4 col-4 ms-1 border">
                        <div>
                            <h4 style="width: 340px;" th:text="${book.title}">Book title
                            </h4>
                                <h3 class="text-danger my-4" style="width: 8rem;"  th:text="${book.price}+ 'VND'"></h3>
                            <div class="my-4">
                                <h6 class="d-block">Quantity:
                                    <input class="text-center" type="number" value="1" min="0" max="100" step="1" />
                                </h6>
                            </div>
                            <div class="my-4">
                                <h6 th:text="'Rate: '+${book.avg_rate}"></h6>
                                <h6 th:text="'Sold: '+${book.quantitySold}"></h6>
                                <h6 th:text="'Stock: '+${book.quantityInStock}"></h6>
                            </div>
                            <div class="my-4" style="width: 600px">
                                <a><button class="btn btn-success" style="width:10rem;">Buy Now</button></a>
                                <a><button class="btn btn-primary" style="width: 10rem; background-color: white; color: #07689f;">Add to
                                    card</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 ms-1 border ">
                        <div class= "py-4 px-4" style="height: 300px;" th:each="book: ${book}">
                            <h6>Book Description</h6>
                            <p th:text="${book.description}"></p>
                        </div>
                    </div>
                </div>
        <div class="row mb-5">
            <div class="col-1"></div>
            <div class="col-5 mb-5 border">
            <div>
                <h5 class=" pt-4 text-center">Customer's Reviews</h5>
                </h6>
                <div class=" container-md d-flex justify-content-around ps-2">
                    <button class="btn btn-success d-flex align-items-center" style="height: 2rem;">Rate: 1</button>
                    <button class="btn btn-success d-flex align-items-center" style="height: 2rem;">Rate: 2</button>
                    <button class="btn btn-success d-flex align-items-center" style="height: 2rem;">Rate: 3</button>
                    <button class="btn btn-success d-flex align-items-center" style="height: 2rem;">Rate: 4</button>
                    <button class="btn btn-success d-flex align-items-center" style="height: 2rem;">Rate: 5</button>
                    <button class="btn btn-success d-flex align-items-center" style="height: 2rem;">Rate: All</button>
                </div>
                <div class=" feedback pt-4 ps-3" style="height: 300px;">
                    <div class="d-flex mt-3">
                        <div class="rounded-circle" style="height: 2.5rem; width: 2.5rem; background-color: gray;">
                        </div>
                        <div class="ps-3">
                            <p style="width: 6rem; margin-bottom:0px">User's Name</p>
                            <p style="width: 6rem; margin-bottom:0px">Rate: {}</p>
                        </div>
                    </div>
                    <div class="py-3 border-bottom">
                        <textarea class="form-control" id="feedback" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>