
    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/_layout}">
    <head>

    <title>Account Detail</title>
    </head>
    <body>
    <div layout:fragment="content">
    <div class="container text-center px-5">
        <div class="row align-items-start mt-5">
            <div th:replace="~{Account/accountNav :: navbar}"></div>

            <div class="col-8 text-start ms-5">
                <div class="ms-5">
                    <h4 class="text-center fw-bold">ACCOUNT INFORMATION</h4>
                    <p>Name: Admin </p>
                    <p>Username: admin111 </p>
                    <p>Email: abc@gmail.com </p>
                    <p>Phone number: 0123849594 </p>
                    <a class="btn bg-main text-light" href="/account/update">Update</a>
                </div>

            </div>
        </div>
    </div>
    </div>
    </body>
</html>
