<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/_layout}">
<head>

    <title>Account Detail</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container text-center px-5">
        <div class="row align-items-start mt-5">
            <div th:replace="~{Account/accountNav :: navbar}"></div>

            <div class="col-8 text-start ms-5">
                <div class="ms-5">
                    <h4 class="text-center fw-bold">ACCOUNT INFORMATION</h4>
                    <p>Name: <a class="fullName" th:text="${userLogined.fullName}"></a> </p>
                    <p>Username: <a class="username" th:text="${userLogined.username}"></a> </p>
                    <p>Email: <a class="email" th:text="${userLogined.email}"></a> </p>
                    <p>Address: <a class="address" th:text="${userLogined.address}"></a> </p>
                    <p>Age: <a class="age" th:text="${userLogined.age}"></a> </p>
                    <a class="btn bg-main text-light" href="/account/update">Update</a>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
