<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/_layout}">
<head>

    <title>Change password</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container text-center px-5">
        <div class="row align-items-start mt-5">
            <div th:replace="~{Account/accountNav :: navbar}"></div>
            <div class="col-8 text-start ms-5">
                <h4 class="text-center fw-bold">CHANGE YOUR PASSWORD</h4>
                <h5>
                    To ensure security, please reset your password to at least 8
                    characters
                </h5>
                <form
                        class="container-sm py-4 rounded"
                        style="max-width: 720px"
                        action="#"
                >
                    <div class="mb-2">
                        <label for="currPwd" class="form-label">Current password</label>
                        <input
                                type="password"
                                class="form-control"
                                id="currPwd"
                                placeholder="Please enter your current password"
                        />
                        <p class="text-danger fst-italic err-msg">Error message here</p>
                    </div>
                    <div class="mb-2">
                        <label for="newPwd" class="form-label">New Password</label>
                        <input
                                type="password"
                                class="form-control"
                                id="newPwd"
                                placeholder="Please enter your new password"
                        />
                        <p class="text-danger fst-italic err-msg">Error message here</p>
                    </div>
                    <div class="mb-2">
                        <label for="confirmPwd" class="form-label"
                        >Confirm Password</label
                        >
                        <input
                                type="password"
                                class="form-control"
                                id="confirmPwd"
                                placeholder="Please enter your new password again"
                        />
                        <p class="text-danger fst-italic err-msg">Error message here</p>
                    </div>
                    <button type="submit" class="btn bg-main mt-3 text-light col-12">
                        Reset Password
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>