<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/_layout}">
<head>

    <title>Manage Products</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container text-center px-5">
        <div class="row align-items-start mt-5">
            <div th:replace="~{Account/accountNav :: navbar}"></div>

            <div class="col-8 text-start ms-5">
                <div class="d-flex mx-5 justify-content-between align-items-center">
                    <h4 class="text-center fw-bold">MANAGE PRODUCTS</h4>
                    <p class="btn bg-main" ><a th:href="@{/book/add}" class="text-decoration-none text-light">Add new book</a></p>
                </div>

                <table class="table table-hover">
                    <thead>
                    <tr class="table-primary">
                        <th scope="col" class="text-center">ID</th>
                        <th scope="col" class="text-center">Title</th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col" class="text-center">Price</th>
                        <th scope="col" class="text-center">Stock</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="book:${books}">
                        <th scope="row" class="align-middle text-center" th:text="${book.id}"></th>
                        <td class="align-middle text-center fw-bold">
                            <a th:href="@{/book/{id}(id=${book.id})}" class="align-middle text-decoration-none text-dark d-inline-block text-truncate" style="max-width: 320px;" th:text="${book.title}"></a>
                        </td>
                        <td class="align-middle text-center fw-medium" th:classappend="${book.quantityImport - book.quantitySold <= 10} ? 'text-danger' : 'text-success'">
                            <span th:text="${(book.quantityImport - book.quantitySold) <= 10} ? 'Sold out' : 'Available'"></span>
                        </td>
                        <td class="align-middle text-center" th:text="${book.price}"></td>
                        <td class="align-middle text-center" th:text="${book.quantityInStock}"></td>
                        <td class="align-middle d-flex align-items-center justify-content-around">
                            <p class="btn bg-success m-0">
                                <a class="text-decoration-none text-light" th:href="@{/book/update/{id}(id=${book.id})}">Update</a>
                            </p>
                            <p class="btn bg-danger m-0" >
                                <a class="text-decoration-none text-light" th:href="@{/book/delete/{id}(id=${book.id})}">Delete</a>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation"  th:if="${totalPages > 1}">
                    <ul class="pagination justify-content-center mt-4">
                        <li th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                            <a class="page-link" th:href='@{/account/manage-products(size=30, page=0)}' th:if="${currentPage> 0}"><i class="fas fa-angle-double-left"></i></a>
                        </li>
                        <li th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                            <a class="page-link" th:href='@{/account/manage-products(size=30, page=${currentPage-1})}' th:if="${currentPage> 0}"><i class="fas fa-chevron-left"></i></a>
                        </li>
                        <li th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}"
                            th:class="${pageNum == currentPage} ? 'page-item active' : 'page-item'">
                            <a class="page-link" th:href='@{/account/manage-products(size=30, page=${pageNum})}' th:text="${pageNum + 1}">1</a>
                        </li>
                        <li th:class="${currentPage == totalPages - 1} ? 'page-item disabled' : 'page-item'">
                            <a class="page-link" th:href='@{/account/manage-products(size=30, page=${currentPage + 1})}'th:if="${currentPage!=totalPages-1}"><i class="fas fa-chevron-right"></i></a>
                        </li>
                        <li th:class="${currentPage == totalPages - 1} ? 'page-item disabled' : 'page-item'">
                            <a class="page-link" th:href="@{/account/manage-products(size=30, page=${totalPages - 1})}" th:if="${currentPage!=totalPages-1}"><i class="fas fa-angle-double-right"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>