<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/_layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/products.css}" type="text/css" />
    <title th:text="${category.name}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="container text-center d-flex flex-row">
        <div class="col-2 text-start">
            <ul class="list-group list-group-flush">
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <h5>Price</h5>
                    <i class="fas fa-chevron-down p-2" data-bs-toggle="collapse" data-bs-target="#price" aria-expanded="false" aria-controls="price"></i>
                </div>
                <div class="collapse" id="price">
                    <li class="list-group-item">
                        <a class="text-decoration-none text-dark" th:href='@{/book/list(size=15, page=${pageNum}, from=1, to=30)}'><30$</a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-decoration-none text-dark" th:href='@{/book/list(size=15, page=${pageNum}, from=30, to=60)}'>30-60$</a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-decoration-none text-dark" th:href='@{/book/list(size=15, page=${pageNum}, from=60, to=99)}'>>60$</a>
                    </li>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#category" aria-expanded="false" aria-controls="category">
                    <h5 class="mt-3">Category</h5>
                    <i class="fas fa-chevron-down p-2" ></i>
                </div>
                <div class="collapse" id="category">
                <li class="list-group-item"><a class="dropdown-item" th:href="@{/book/list}">
                    All Categories
                </a></li>
                <li th:each="cat: ${categories}" th:if="${category}"
                    class="list-group-item"
                    th:classappend="${cat.id == category.id} ? 'text-main':''">
                    <a class="dropdown-item" th:href="@{/category/{id}(id=${cat.id})}"
                       th:text="${cat.name}"></a>
                </li>
                <li th:each="cat: ${categories}" th:unless="${category}"
                    class="list-group-item">
                    <a class="dropdown-item" th:href="@{/category/{id}(id=${cat.id})}"
                       th:text="${cat.name}"></a>
                </li>
                </div>
            </ul>
        </div>
        <div class="col-10 ps-5">
            <div class="row">
                <table>
                    <tbody>
                    <tr th:each="row : ${rows}">
                        <div class="card mb-2 mx-1 col-3" style="width: 12rem; height: 16rem;" th:each="book: ${row}">
                            <a th:href="@{/book/{id}(id=${book.id})}"><img
                                    th:src="${book.image}"
                                    class="card-img-top mt-2 mb-0" alt="Book Image" style="height: 12rem;"></a>
                            <div class="card-body pb-1 mt-2" style="padding: 0px !important;">
                                <a th:href="@{/book/{id}(id=${book.id})}" class="text-decoration-none text-dark">
                                    <h5 class="card-title fs-6 text-start fw-bold text-truncate ps-0 my-0" th:text="${book.title}"></h5>
                                </a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="card-text text-main fs-6 fw-bold" th:text="${book.price} +'$'"></p>
                                    <p style="font-size:14px;" th:text="'Sold: ' +${book.quantitySold}"></p>
                                </div>
                            </div>
                        </div>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation" th:if="${totalPages > 1}">
                    <ul class="pagination justify-content-center mt-4">
                        <li th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                            <a class="page-link" th:href='@{/category/{id}(id=${category.id}, page=0,  from=${param.from}, to=${param.to})}' th:if="${currentPage> 0}"><i class="fas fa-angle-double-left"></i></a>
                        </li>
                        <li th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                            <a class="page-link" th:href='@{/category/{id}(id=${category.id}, page=${currentPage-1}, from=${param.from}, to=${param.to})}' th:if="${currentPage> 0}"><i class="fas fa-chevron-left"></i></a>
                        </li>
                        <li th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}"
                            th:class="${pageNum == currentPage} ? 'page-item active bg-main' : 'page-item'">
                            <a class="page-link" th:href='@{/category/{id}(id=${category.id}, page=${pageNum}, from=${param.from}, to=${param.to})}' th:text="${pageNum + 1}">1</a>
                        </li>
                        <li th:class="${currentPage == totalPages - 1} ? 'page-item disabled' : 'page-item'">
                            <a class="page-link" th:href='@{/category/{id}(id=${category.id}, page=${currentPage + 1}, from=${param.from}, to=${param.to})}' th:if="${currentPage!=totalPages-1}"><i class="fas fa-chevron-right"></i></a>
                        </li>
                        <li th:class="${currentPage == totalPages - 1} ? 'page-item disabled' : 'page-item'">
                            <a class="page-link" th:href="@{/category/{id}(id=${category.id}, page=${totalPages - 1}, from=${param.from}, to=${param.to})}" th:if="${currentPage!=totalPages-1}"><i class="fas fa-angle-double-right"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

</body>
</html>