<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/_layout}">
<head>

    <title>Signup</title>
</head>
<body>
<div layout:fragment="content">
    <form
            class="container-sm bg-main-lighter my-5 px-5 py-4 rounded"
            style="max-width: 720px"
            action="#"
    >
        <h3 class="text-center mb-3">Welcome to My Website</h3>

        <div class="mb-2">
            <label for="username" class="form-label">Username</label>
            <input
                    type="text"
                    class="form-control"
                    id="username"
                    placeholder="Please enter your username"
            />
            <p class="text-danger fst-italic err-msg">Error message here</p>
        </div>
        <div class="mb-2">
            <label for="password" class="form-label">Password</label>
            <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="Please enter your password"
            />
            <p class="text-danger fst-italic err-msg">Error message here</p>
        </div>
        <div class="mb-2">
            <label for="confirm_password" class="form-label"
            >Confirm password</label
            >
            <input
                    type="password"
                    class="form-control"
                    id="confirm_password"
                    placeholder="Please enter your password again"
            />
            <p class="text-danger fst-italic err-msg">Error message here</p>
        </div>
        <div class="mb-2">
            <label for="phonenum" class="form-label">Phone number</label>
            <input
                    type="tel"
                    class="form-control"
                    id="phonenum"
                    placeholder="Please enter your phonenum"
            />
            <p class="text-danger fst-italic err-msg">Error message here</p>
        </div>
        <div class="mb-2">
            <label for="email" class="form-label">Email</label>
            <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Please enter your email"
            />
            <p class="text-danger fst-italic err-msg">Error message here</p>
        </div>
        <button type="submit" class="btn bg-main mt-3 text-light col-12">
            Sign up
        </button>
        <hr />
        <p class="text-center">
            You have account before? <br />
            Please login by clicking <a href="/log-in">here</a>.
        </p>
    </form>
    <!-- content page will override this -->
</div>
</body>
</html>
